{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>My Blog</title>
      <link rel="stylesheet" href="{% static 'frontend/assets/css/style.css' %}" />
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
         rel="stylesheet"
         />
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
         />
   </head>
   <body>
      <!-- Header -->
      <header class="header fixed-top">
         <div class="header-top">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-6 col-md-6">
                     <a href="/">
                     <img
                        src="{{ settings.logo.url }}"
                        alt="my blog"
                        loading="lazy"
                        width="100"
                        />
                     </a>
                  </div>
                  <div class="col-6 col-md-6">
                     <div class="icons">
                        <i class="fas fa-search" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                        {% for social in socials %}
                           <a target="_blank" href="{{ social.social_link }}">{{ social.social_icon | safe }}</a>
                        {% endfor %}
                        <button
                           class="contact-button btn btn-primary d-none d-md-inline-block"
                           >
                        Contact Me
                        </button>
                        <button class="mobile-menu-toggle d-md-none" onclick="toggleMobileMenu()">
                        <i class="fa-solid fa-bars"></i>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="header-bottom">
            <div class="container">
               <nav class="nav-items">
                  <ul class="nav-menu">
                     <li class="item">
                        <a href="/">Home</a>
                        {% for category in categories %}
                        <a href="{% url 'categoryPage' category.category_slug %}">{{ category.category_name }}</a>
                        {% endfor %}
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </header>
      <!-- Mobile Side-Bar -->
      <div class="mobile-overlay" onclick="closeMobileMenu()"></div>
      <div class="mobile-sidebar" id="mobileSidebar">
         <div class="sidebar-header">
            <img class="logo" src="assets/image/logo.png" alt="">
            <button class="sidebar-close" onclick="closeMobileMenu()">
            <i class="fa-solid fa-square-xmark"></i>
            </button>
         </div>
         <ul class="sidebar-menu">
            {% for category in categories %}
            <li>
               <a href="{% url 'categoryPage' category.category_slug %}">{{ category.category_name }}</a>
            </li>
            {% endfor %}
         </ul>
      </div>
      <!-- Body Content -->
      {% block content %}
      
      {% endblock %}
      <!-- Footer -->
      <footer class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <div class="footer-about-section">
                     <h5>About Me</h5>
                     <p>
                        {{ settings.site_description }}
                     </p>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer-category-section">
                     <h5>Category</h5>
                     <ul>
                        {% for category in categories %}
                        <li>
                           <a href="{% url 'categoryPage' category.category_slug %}">{{ category.category_name }}</a>
                        </li>
                        {% endfor %}
                     </ul>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer-quick-link-section">
                     <h5>Quick Links</h5>
                     <ul>
                        <li>
                           <a href="#">About Us</a>
                        </li>
                        <li>
                           <a href="#">Contact</a>
                        </li>
                        <li>
                           <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                           <a href="#">Terms & Conditions</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer-social-section">
                     <h5>Social Media</h5>
                     <ul>
                        {% for social in socials %}
                        <li>
                           <a target="_blank" href="{{ social.social_link }}">{{ social.social_icon | safe }} {{ social.social_name }}</a>
                        </li>
                        {% endfor %}
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright-section text-center">
               <p>&copy;{% now "Y" %} {{ settings.site_name }}. All rights reserved.</p>
            </div>
         </div>
      </footer>
      <!-- Search Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Search</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Write the key words">
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Search Blog</button>
               </div>
            </div>
         </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
      <script src="{% static 'frontend/assets/js/script.js' %}"></script>
   </body>
</html>