[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-tinymce = "*"
pillow = "*"
requests = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
django = "*"
dj-database-url = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
