 <!-- Editor's Choice -->
 <section class="most-viewed-section">
    <div
       class="d-flex justify-content-between align-items-center mb-4"
       >
       <h4>Editor's Choice</h4>
    </div>
    {% if editors %}
    {% for editor in editors %}
    <div class="most-viewed-item mb-3">
       <div class="most-viewed-number">01</div>
       <div class="most-viewed-content">
        <a href="#">
            <h5>{{ editor.blog_name }}</h5>
        </a>
          <p>
            {{ editor.description | truncatewords:20}}
          </p>
       </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>No post available</h5>
    {% endif %}
 </section>