{% extends 'layouts/base.html' %} 

{% block content %}
<!-- Breadcrumb -->
<section class="breadcrumb bg-light pb-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ category.category_name }}</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Main Section -->
<main class="content">
  {% load static %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- Blog Section -->
        <section class="blog-section mb-4">
          <h3 class="blog-category-title">{{ category.category_name }}</h3>
          <div class="row">
            {% if blogs %}
            {% for blog in blogs %}
            <div class="col-md-6 mb-4">
              <article class="blog-category-article">
                <div class="blog-image">
                  {% if blog.thumbnail %}
                  <img
                    src="{{ blog.thumbnail.url }}"
                    alt="{{ blog.blog_name }}"
                  />
                  {% else %}
                  <img
                    src="{% static 'frontend/assets/image/default.png' %}"
                    alt=""
                  />
                  {% endif %}
                </div>
                <div class="blog-content">
                  <h3 class="mb-3">{{ blog.blog_name }}</h3>
                  <p>{{ blog.short_descriöption }}</p>
                  <a class="blog-details" href="{% url 'blogDetails' blog.blog_slug %}">Read More....</a>
                </div>
              </article>
            </div>
            {% endfor %}
            {% else %}
            <h5>No Blogs Available</h5>
            {% endif %}
            
          </div>
        </section>
      </div>
      <div class="col-md-4">
        {% include 'inc/most-viewed.html' %} 
        {% include 'inc/editor-choice.html' %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
