{% extends 'layouts/base.html' %}
{% block content %}
{% include 'inc/slider.html' %}
 <!-- Main Content -->
 <main class="content">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <!-- Blog Section -->
             {% for section in category_sections %}
             <section class="blog-section border-bottom border-dark mb-4">
                <h3 class="blog-category-title">{{ section.category.category_name }}</h3>
                <div class="row">
                   <div class="col-md-6">
                      <article class="blog-category-article">
                         <div class="blog-image">
                            <img src="{{ section.first_blog.thumbnail.url }}" alt="{{ section.first_blog.blog_name }}">
                         </div>
                         <div class="blog-content">
                            <h3 class="mb-3">
                               {{ section.first_blog.blog_name }}
                            </h3>
                            <p>
                               {{ section.first_blog.short_description|truncatewords:15 }}
                            </p>
                            <a class="blog-details" href="{% url 'blogDetails' section.first_blog.blog_slug %}">Read More....</a>
                         </div>
                      </article>
                   </div>
                   <div class="col-md-6">
                      {% for blog in section.other_blog %}
                         <div class="blog-card d-flex mb-4">
                            <div class="blog-card-image">
                               <img src="{{ blog.thumbnail.url }}" alt="{{ blog.blog_name }}">
                            </div>
                            <div class="blog-info ms-3">
                               <h5 class="mb-3">{{ blog.blog_name }}</h5>
                               <p>{{ blog.short_description|truncatewords:10 }}</p>
                               <a class="blog-details" href="{% url 'blogDetails' blog.blog_slug %}">Read More....</a>
                            </div>
                         </div>
                      {% endfor %}
                   </div>
                </div>
             </section>
          {% endfor %}
          </div>
          <div class="col-md-4">
            {% include 'inc/most-viewed.html' %} 
            {% include 'inc/editor-choice.html' %}
          </div>
       </div>
    </div>
 </main>   
{% endblock %}