<!-- Most Viewed -->
<section class="most-viewed-section">
    <div
       class="d-flex justify-content-between align-items-center mb-4"
       >
       <h4>Most Viewed</h4>
    </div>
    {% if most_viewed %}
    {% for blog in most_viewed %}
    <div class="most-viewed-item mb-3">
       <div class="most-viewed-number">{{ forloop.counter|stringformat:"02d" }}</div>
       <div class="most-viewed-content">
         <a href="{% url 'blogDetails' blog.blog_slug %}">
            <h5>{{ blog.blog_name }}</h5>
         </a>
          <p>
            {{ blog.short_description|truncatewords:15 }}
          </p>
       </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>No post available</h5>
    {% endif %}
 </section>